doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Backend with Dear Irene
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/css/style1.css' rel='stylesheet')
header
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='#') FORMS
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page' href='manager.html') Manager
          li.nav-item
            a.nav-link(href='salesAgent.html') Sales Agent
          li.nav-item
            a.nav-link(href='stock.html') Stock
          li.nav-item
            a.nav-link.disabled(aria-disabled='true') Disabled
form(action='/manager' method='post')
  .form-wrapper
    .form-container
      h2 Manager Registration
      .mb-3
        label.form-label(for='managerName') Full Name
        input#managerName.form-control(type='text' name='name' placeholder='Enter your full name')
      .mb-3
        label.form-label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp')
        #emailHelp.form-text
          | We&apos;ll never share your email with anyone else.
      .mb-3
        label.form-label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password' name='password')
      .mb-3.form-check
        input#exampleCheck1.form-check-input(type='checkbox' name='checkbox')
        label.form-check-label(for='exampleCheck1') Check me out
      button.btn.btn-primary(type='submit') Submit
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js')
script(src='about.js')
